
#maintenance {
	font-size: 50px;
	font-family: Arial;
	text-align: center;
	color: red;
	margin-top: 450px;

}

body {
	background-color: orange;
}

#c_2 {
	color: red;
	text-align: center;
	font-family: Arial;
}

.counter {
	color: red;
	text-align: center;
}


* {
	user-select: none;	
}
@media (max-height: ) {

}
++
