body {
	background-color: orange;
}

.main {
	color: red;
	font-family: Arial;
	text-align: center;
	margin-top: 20em;
}

.main a {
	color: red;
	text-decoration: none;
}

a:link {
	color: red;
	text-decoration: none;
}
