@import url('https://fonts.googleapis.com/css2?family=Borel&family=Climate+Crisis&family=Open+Sans:wght@300&family=Phudu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Climate+Crisis&family=Comfortaa:wght@700&family=Open+Sans:wght@300&family=Phudu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Climate+Crisis&family=Comfortaa:wght@700&family=Karla:wght@300&family=Open+Sans:wght@300&family=Phudu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Climate+Crisis&family=Comfortaa:wght@700&family=Karla:wght@300&family=Open+Sans:wght@300&family=Phudu:wght@500&family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Climate+Crisis&family=Comfortaa:wght@700&family=Karla:wght@300&family=Mooli&family=Open+Sans:wght@300&family=Phudu:wght@500&family=Raleway:wght@600&display=swap');
/*font-family: 'Comfortaa', cursive;*/
.nav {
	background-color: forestgreen;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: space-between;
	left: 0;
	top: 0;
	padding: 20px, 100px;
	align-items: center;
	background-color: black;
	color: white;
	z-index: 2;
}

.annonce {
	font-family: 'Comfortaa', cursive;
}

#title {
	transition: 500ms ease-in-out;
}

#title:hover {
	scale: 2;
}

a {
	color: white;
}

.nav h1 {

}

#test {
	text-align: center;
	font-family: 'Comfortaa', cursive;

}

.text-zone h1 {

}

.citations {
	margin-top: 400px;
	font-size: 40px;
	margin-left: 450px;
	background-color: black;
	width: 1853xp;
	color: white;
	position: sticky;
	margin-left: 0;
	text-align: center;
	padding: 20px;
/*	border-radius: 20px;*/
	user-select: none;
}

#Ichat-citation {
	font-family: 'Mooli', sans-serif;
	margin-top: 100px;
	letter-spacing: 10px;
}

#Ichat-citation-title {
	font-family: 'Nunito', sans-serif;
	margin-left: 40px;
	letter-spacing: 10px;
}

.règles-div {
	margin-top: 100px;
	font-family: 'Raleway', sans-serif; 
	margin-left: 10px;
	background-color: grey;
	border-radius: 10px;
	width: 270px;
	padding: 20px;
}


.ban {
	display: block;
	background-color: red;
	margin-left: 350px;
	width: 1070px;
	height: 330px;
	margin-top: -390px;
	font-size: 40px;
	border-radius: 20px;
	font-family: 'Raleway', sans-serif; 
	padding: 20px;
	background-color: grey;
	



}


#Règle-1 {
	margin-top: 50px;
}

#Règle-2 {


}


.text-zone {
	background-color: black;
	color: white;
	margin-top: 500px;
	width: 100%px;
	height: 160px;
/*	animation: Slide-text 500ms ease-in-out;*/
	overflow: scroll;
	font-size: 10px;
}

body {
	background-color: white;
	margin: 0;
}

#title {
	text-align: center;
	font-family: 'Phudu', cursive;
	margin-left: 880px;
	font-size: 30px;
	animation: rotate0 500ms;
	animation: Slide-left 1.2s;
	border: 0px;

}

* {
/*	user-select: none;*/
}

a:link {
	text-decoration: none;
	color: white;
}

li {
	list-style-type: none;
}

body {
	resize: none;
}

.infos {
	background-color: black;
	margin-top: 1000px;
	color: white;
	width: 1863px;
	padding: 20px;

}

#twittér {
	color: white;
	text-decoration: none;
	text-align: center;
	font-family: 'Phudu', cursive;
	vertical-align: 10px;
}

input {
	margin-top: 30px;
	line-height: 1;
	padding: 0 1em;
	background-color: #fff;
	border: 2px solid silver;
	width: clamp(150px, 50%, 300px);
	height: 2.25rem;
	border-radius: 30px;
}

#input-ok {
	margin-left: 0;

}

.text-input-bar {
	color: black;
	text-align: center;
	vertical-align: middle;
	margin-top: 300px;
	margin-right: 420px;
/*	margint-top: 50px;*/
	width: 100%;
	background-color: black;
	height: 100px;

}

input {
	outline: none;
/*	border: none;*/
	margin-left: 50px;
	border-radius: 5px;
}

#input-1 {
	margin-top: 500px;
	margin-left: 600px;
	border-radius: 50px;
	width: 100%;
	display: block;
	font-family: 'Karla', sans-serif; 


}


.infos-list ul {
	display: flex;
	margin-top: 40px;
}

#mail:hover {
	text-decoration: underline;
}



#twitter {
	left: 50px;
	text-align: center;
/*	vertical-align: 10px;*/
	margin-left: 720px;
}

.infos-list {
	text-decoration: none;
	color: white;
	justify-content: space-between;

	
}

#title1 {
	color: white;
	font-family: 'Phudu', cursive;
	margin-left: 900px;
}

#mail {
	color: white;
	font-family: 'Phudu', cursive;
	vertical-align: 10px;
}

#slogan {
	text-align: center;
	margin-left: 895px;
	font-family: 'Phudu', cursive;
	animation: Slide-right 2.1s;

}


.mail {
	border-color: black;
	margin-top: 400px;
	font-family: 'Karla', cursive;

}
/*textaera {
	resize: none;
	border-radius: 20px;
	border: silver solid 2px;
	outline: none;
	margin-left: 20px;
}*/

#mail-2 {
	height: 200px;
	width: 300px;
	margin-left: 62px;
	margin-top: 30px ;
	resize: none;
	border: solid silver 2px;
	border-radius: 5px;
	outline: none;
	font-family: 'Raleway', sans-serif;
}

#ok {
	margin-left: 65px;
	cursor: pointer;
	transition: ease-in-out 500ms;
}

#ok:hover {
	background-color: grey;
}

.recru {
	margin-top: -250px;
	margin-left: 1480px;
	font-family: 'Karla', cursive;
	background-color: grey;
	border-radius: 20px;
	padding: 20px;
	height: 120px;
}

.mail-ex {
	margin-left: 900px;
	margin-top: -300px;
	font-family: 'Raleway', cursive;
	font-size: 20px;
	background-color: grey;
 	border-radius:20px;
 	width: 500px;
 	padding: 20px;
}

#mail-ex-1 {
	margin-left: 35px;
}

#em {
	font-size: 50px;
	margin-left: 200px;

}



#twittér:hover {
	text-decoration: underline;
}

@keyframes Slide-left {
	from {
		transform: translateY(100px);
		opacity: 0;
	} to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes Slide-right {
	from{
		transform: translateX(800px);
		opacity: 0;
	} to {
		transform: translateX(0);
		opacity: 1;
	}
}


@keyframes rotate0 {
	from {
		transform: rotate(45deg);
		opacity: 0;
	} to {
		transform: rotate(0deg);
		opacity: 1;
	}
}

@keyframes Slide-text {
	from {
		transform: translateX(800px);
	} to {
		transform: translateX(0);
	}
}



@media and screen (max-width: 980px) {
	#title {
		text-align: left;
	}
}
